*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: black;
    color: #fff;
}

.logoo img{
    width: 390px;
    margin: 10px;
}

.sub-title{
    text-align: center;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline lightblue ;
}

#services{
    padding: 30px 0;
}

.services-list .fa-solid{
    color: black ;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px ,1fr));
    grid-gap: 40px;
    margin: 100px 50px ;
}

.services-list div{
    background: coral;
    padding: 40px;
    font-size: 13px;
    text-align: center;
    font-weight: 400px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list p{
   font-size: 20px;
}

.services-list div i{
    font-size: 70px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500px;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: lightblue;
    transform: translateY(20px);
}

.btn{
    display: block;
    margin: 0px auto;
    width: fit-content;
    border: 5px solid orange;
    padding: 12px 40px;
    border-radius: 8px;
    text-decoration: none;
    color: orange;
    font-size: 25px;
    font-weight: bolder;
    transition: background 0.5s;
}

.btn:hover{
     background: coral;
     color:black;
     border: 5px solid white;
}



